RewriteEngine On

# If file or folder exists, serve it normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise redirect everything to index.php
RewriteRule ^ index.php [QSA,L]